extends base.pug

block content
    div 
        form(action="/filter")
             input(name="year" type="text" placeholder="Filter by Year")
             input(name="rating" type="text" placeholder="Filter by rating")
             input(type="submit" value="Search")
        ul 
            each movie in movies
                <li>
                    <a href=#{movie.id}>#{movie.title}</a>
            